{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <main class="main">
        <div class="page-title dark-background" style="background-image: url(static/img/loginpage.jpg);">
            <div class="container position-relative">
              <h1>Login to my MuscleCraft account</h1>
            </div>
          </div>

      <section id="get-started" class="get-started section">

        <div class="container">
            <div class="container d-flex justify-content-center align-items-center min-vh-100">
                <div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">
                <form action="/login" method="post" class="php-email-form">
                    <h2 style="text-align: center;">Login</h2>
                    <div class="row gy-3">

                        <div class="col-12">
                            <input type="text" name="username" class="form-control" placeholder="Username" required="" autocomplete="off">
                        </div>

                        <div class="col-12 ">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="" autocomplete="off">
                        </div>

                        <div class="col-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                            <button type="submit">Login</button>
                        </div>
                        <div class="col-12 text-center">
                            <p>New to MuscleCraft? <a href="register.html">Register here!</a></p>
                        </div>
                    </div>
                </form>
            </div>

          </div>
      </section>
    </main>

{% endblock %}
